/*
	https://kafi-rashid.github.io/
	Owner: kafi.rashid@gmail.com
*/
@font-face {
	font-family: 'SolaimanLipi';
	src: url('../fonts/SolaimanLipi.eot');
	src: url('../fonts/SolaimanLipi.woff') format('woff'),
		url('../fonts/SolaimanLipi.ttf') format('truetype'),
		url('../fonts/SolaimanLipi.svg#SolaimanLipiNormal') format('svg'),
		url('../fonts/SolaimanLipi.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0980-007F;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
	url(../fonts/MaterialIcons-Regular.woff) format('woff'),
	url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	display: inline-block;
	line-height: 0.9;
	margin-right: 5px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.quote {
	margin: 0;
	padding: 0;
	line-height: 0.5;
	float: right;
	margin-right: -15px;
	margin-top: -7px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 35px;
}
::selection {
  	background: transparent;
}
#input_note::selection {
  	background: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
	text-shadow: none;
}
* {
	box-sizing: border-box;
	vertical-align: top;
	font-family: 'Open Sans', 'SolaimanLipi', sans-serif;
	color: #FFF;
	font-size: 13px;
	font-weight: 300;
}
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
body {
	background-color: #202020;
	background-repeat: no-repeat;
	background-size: cover;
}
.border {
	border: thin solid red;
}
p, span, a {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
#shadow {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 95px;
	width: 100%;
	background: transparent;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.5)), color-stop(100%, transparent));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, transparent 100%);
}
#content {
	position: absolute;
	z-index: 2;
	min-height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	padding: 35px;
}
#clear {
	display: none;
	font-size: 11px;
	background-color: transparent;
	text-transform: uppercase;
	padding: 5px 10px;
	border: none;
	line-height: 1;
	position: absolute;
	z-index: 999;
	bottom: 10px;
	right: 10px;
	outline: none;
	color: white;
	transition: 0.3s;
	cursor: pointer;
	letter-spacing: 1px;
	line-height: 1;
}
#clear:hover {
	background-color: black;
	color: white;
}
#now-day, #now-date {
	line-height: 1;
	letter-spacing: 3px;
	padding: 0;
	margin: 1px 1px 1px 0;
	text-transform: uppercase;
}
#bookmarks {
	width: calc(100% - 300px);
	text-align: right;
	position: absolute;
	top: 35px;
	right: 35px;
}
#bookmarks a {
	color: #FFF;
	letter-spacing: 1px;
	line-height: 1;
	padding: 0 10px;
}
#bookmarks a:last-of-type {
	border-right: none;
	padding-right: 0;
}
#notes, #notes * {
	letter-spacing: 0.2px;
}
#blur-wrapper {
	overflow: hidden !important;
	position: absolute;
	top: 98px;
	left: 35px;
	width: 360px;
	/*border: thin dashed white;*/
	max-height: calc(100vh - 130px);
}
#blur {
	background-repeat: no-repeat;
	background-position: calc(50% + 2px) calc(50% + 50px);
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	filter: blur(10px) grayscale(0%) brightness(150%) sepia(0%);
	position: absolute;
	margin: -30px;
	height: 100% !important;
	height: calc(100% + 60px) !important;
	width: calc(100% + 60px);
}
#notes-container {
	overflow: hidden !important;
	position: absolute;
	width: 360px;
	max-height: calc(100vh - 130px);
}
#notes {
	width: 360px;
	max-height: calc(100vh - 239px);
	overflow: auto;
	margin: 0;
	padding: 0;
}
#add_note {
	width: 100%;
	height: 95px;
	position: relative;
}
.mCSB_inside > .mCSB_container {
	margin-right: 20px;
}
.note p {
	line-height: 1.3;
}
.note {
	position: relative;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
	overflow: hidden;
	transition: 0.3s;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.note:last-of-type {
	border-bottom: none;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
	border-color: white;
}
[type="checkbox"]:checked+span:not(.lever):before {
	border-bottom-color: white;
	border-right-color: white;
}
#input_note {
	line-height: 1.3;
	width: 100%;
	letter-spacing: 0.2px;
	resize: none;
	outline: none;
	/*margin-top: 1px;*/
	font-weight: 100;
	padding: 15px;
	border: none;
	background-color: rgba(0, 0, 0, 0.6);
	height: 66px;
}
#add {
	width: 100%;
	border: none;
	padding: 8px;
	line-height: 1;
	color: white;
	height: 29px;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.3s;
	cursor: pointer;
	outline: none;
}
#add:hover {
	background-color: rgba(0, 0, 0, 1);
}
.time {
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 10px !important;
	text-transform: uppercase;
	letter-spacing: 2px !important;
	line-height: 1 !important;;
	color: rgba(255, 255, 255, 0.5);
}
.hidden {
	display: none;
}
.option-container {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
	opacity: 0;
	display: flex;
	align-items: center;
	text-align: center;
}
.option-container .options {
	height: 25px;
	margin: 0 auto;
	text-align: center;
}
.option-container .option {
	outline: none;
	border: none;
	letter-spacing: 2px !important;
	text-transform: uppercase;
	padding: 0 10px;
	height: 100%;
	margin: 0;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	transition: 0.3s;
	cursor: pointer;
}
.option-container .option:hover {
	color: white;
	/*background-color: rgba(0, 0, 0, 1);*/
	letter-spacing: 2.5px !important;
}
.note:hover > .option-container {
	opacity: 1;
}
.note:hover > p, .note:hover > i {
	filter: blur(3px);
}
.new-note {
	background-color: rgba(0, 0, 0, 0.45);
	box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.2);
}
.archived-title {
	text-transform: uppercase;
	top: 27px;
	left: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	color:  black;
	line-height: 0;
	padding: 0;
	margin: 0;
	position: absolute;
}
.archived p:not(.time) {
	text-decoration: line-through;
}
id {
	display: none;
}
#archive {
	background-color: transparent;
	border: none;
	color: white;
	position: absolute;
	z-index: 12;
	bottom: 30px;
	right: 30px;
	outline: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#archive .material-icons {
	font-size: 25px;
	line-height: 1;
	margin: 0;
	padding: 0;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}
#archive:hover > .material-icons {
	color: rgba(255, 255, 255, 1);
}
.blur {
	filter: blur(3px);
}
.dark-bg {
	display: none;
	position: absolute;
	right: 15px;
	top: 15px;
	height: calc(100vh - 30px);
	width: 360px;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 100;
}
.dark-inner {
	height: 100%;
	width: 100%;
}
#close {
	background-color: transparent;
	border: none;
	outline: none;
	height: 40px;
	width: 40px;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	position: absolute;
	right: 10px;
	top: 7px;
}
#close:hover > .material-icons {
	color: black;
}
#close .material-icons {
	transition: 0.3s;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 23px;
	color: rgba(0, 0, 0, 0.3);
}
#archived-notes {
	margin-top: 52px;
	height: calc(100% - 46px);
	width: 100%;
	padding: 0 10px 0 10px;
	overflow: scroll;
}
#archived-notes .note {
	background-color: rgba(0, 0, 0, 0.7);
	border-bottom: 0.5px solid white;
	width: 100%;
}

@keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
.bounceIn {
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
}
